.content-module {
  margin-top: var(--space-lg);
}

.content-module__collapsible-content {
  border: 1px solid var(--color-border);
  border-radius: 4px;
  margin-top: 0;
  margin-bottom: var(--space-md);
  padding: var(--space-lg);
  background-color: var(--color-surface);
  width: 100%;
}

.content-module__collapsible-content textarea {
  width: 100%;
  min-height: 0;
  height: 250px;
  padding: 10px;
  margin-bottom: var(--space-md);
}

.content-module__collapsible-content textarea.fullscreen {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;

  font-size: var(--font-size-md);
}

.content-module__collapsible-content ul {
  list-style-type: none;
}

.content-module__button-container {
  width: 100%;
  background-color: var(--color-border);

  button {
    background-color: transparent;
  }

  padding: 4px;
}

.content-module__fullscreen-button
{
  --fullscreen-icon-size: 32px;

  padding:0;
  margin: 0;
  height: var(--fullscreen-icon-size);
  width: var(--fullscreen-icon-size);
  text-align: center;
  font-size: var(--fullscreen-icon-size);
  line-height: var(--fullscreen-icon-size);
}

.content-module__fullscreen-button.fullscreen {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 101;
}
