@use 'utilities-mixin' as *;

.course-section-view__header {
  align-items: center;
  margin-bottom: var(--space-md);
}

.course-section-view__title-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.course-section-view__title-actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.course-section-view__actions {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.group-list {
  @include list;
}

.group-list__item {
  cursor: pointer;
}

.group-list__card {
  flex: 1;
}

.group-list__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-sm);
}

.group-list__item:hover h3 {
  text-decoration: underline;
}

.course-section-view__header h2 {
  padding: var(--space-md) 0;
}
