@use 'utilities-mixin' as *;

.course-section-view__header {
  align-items: center;
  margin-bottom: var(--space-md);
}

.group-list {
  @include list;
}

.group-list a {
  color: inherit;
  text-decoration: none;
}

.group-list a:hover h3 {
  text-decoration: underline;
}

.course-section-view__header h2 {
  padding: var(--space-md) 0;
}
