@use 'utilities-mixin'as *;

.group-list {
  @include list;
}

.view-selector {
  display: flex;
  gap: var(--space-md);
  margin-bottom: var(--space-md);
  justify-content: center;
}

.selected {
  border: 2px solid var(--color-primary-border);
}

h2 {
  justify-self: center;
  padding: var(--space-md);
}
