<app-layout [title]="title()">
  <div class="view-selector">
    <button (click)="switchView('groups')" [class.selected]="currentview() === 'groups'">
      Groups
    </button>
    <button
      (click)="switchView('participants')"
      [class.selected]="currentview() === 'participants'"
    >
      Participants
    </button>
  </div>

  <div *ngIf="currentview() === 'participants'">
    <h2>Participants</h2>
    <ul class="group-list">
      @for (person of people; track person) {
        <li>
          <h3>{{ person }}</h3>
        </li>
      } @empty {
        <span>No participants available</span>
      }
    </ul>
  </div>

  <div *ngIf="currentview() === 'groups'">
    <h2>Groups</h2>
    <ul class="group-list">
      @for (group of groups; track group) {
        <li>
          <h3>{{ group }}</h3>
          <p>2 members</p>
        </li>
      } @empty {
        <span>No groups available</span>
      }
    </ul>
  </div>

  <app-content-module></app-content-module>
</app-layout>
