@use 'utilities-mixin' as *;

.kurstillfalle-overview__header {
  align-items: center;
  margin-bottom: var(--space-md);
}

.kurstillfalle-overview__actions {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.kurstillfalle-list {
  @include list;
}

.kurstillfalle-list__item {
  cursor: pointer;
}

.kurstillfalle-card {
  display: block;
  flex: 1;
}

.kurstillfalle-card-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-sm);
}

.kurstillfalle-list__item:hover h3 {
  text-decoration: underline;
}

.kurstillfalle-overview__header h2 {
  padding: var(--space-md) 0;
}
